body{width: 100%;margin-left: 0%;}

.header{background-image: url(img/header.jpg);background-size: 80%;margin-top: -2%;height: 680px;background-position:top;}
.title{width: 40%;background-color: rgba(0, 0, 0, 0.568);text-align: center;
       color: #EEBA2B;padding: 15px;height: 650px;margin-left: 5%;}

.title h1{font-size: 4em;margin-top: 15%;font-family: 'Pacifico', cursive;}
.title h3{font-family: 'Montserrat', sans-serif;font-size: 2em;}
#nombre{margin-top: -20px;}
.title h2{font-family: 'Montserrat', sans-serif;font-size: 3.5em;}
.title img{width: 20%;margin-top: 5%;}

.datos{background-color: black;color: #EEBA2B;width: 100%;display: flex;}
.pack{width: 30%;margin-left: 20%;margin-bottom:3%;font-family: 'Montserrat', sans-serif;padding: 15px;box-sizing: border-box;}
.pack h2{font-size: 2.5em;}
.pack h3{font-size: 1.2em;}
.img{width: 50%;float: left;padding: 0%;text-align: center;}
.img img{width: 55%;}

.form{background-image: url(img/form_03.jpg);background-size: 70%;height: 1000px;background-position:top;}
.form h2{width: 50%;margin: auto;text-align: center;font-family: 'Montserrat', sans-serif;font-size: 3em;color: #EEBA2B;margin-bottom: 7%;padding-top: 70px;box-sizing: border-box;}

#forminscription{width: 50%;padding: 15px;border: solid #EEBA2B 2px; border-radius: 10px;font-size: 1.2em;color: #EEBA2B; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: rgba(0, 0, 0, 0.493);margin: auto;}

#forminscription span{margin: 3%;}
#forminscription input{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}

#forminscription  div{margin-bottom: 20px;}

#forminscription  select{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}

#forminscription  textarea{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}

.footer{background-color: #EEBA2B;padding: 15px;text-align: center;font-family: 'Montserrat', sans-serif;margin-bottom:-2%;}

